@font-face {
  font-weight: 400;
  font-family: Inter;
  src: url("/src/assets/fonts/Inter.ttf");
}

//   @font-face {
//     font-weight: 700;
//     font-family: Inter;
//     src: url("../../assets/fonts/Roboto-Bold.ttf");
//   }
