.header {
  background-color: $dark;
}

.header-main {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 5;
  background-color: transparent;
}

.header__logo {
  @include media(medium) {
    position: relative;
    z-index: 10;
  }
}

.menu__btn {
  width: 30px;
  height: 20px;
  padding: 0;
  border: none;
  background-color: transparent;
  display: none;

  @include media(medium) {
    position: relative;
    display: flex;
    z-index: 10;

    & span,
    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      left: 0;
      background-color: $primary;
      transition: all 0.3s ease-in-out;
    }

    & span {
      top: 9px;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    &.active {
      & span {
        transform: scale(0);
      }

      &::before {
        top: 9px;
        transform: rotate(45deg);
      }

      &::after {
        bottom: 9px;
        transform: rotate(-45deg);
      }
    }
  }
}

.menu__list {
  gap: 35px;
  transition: transform 0.3s ease, opacity 0.3s ease;

  @include media(medium) {
    position: absolute;
    flex-direction: column;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding-top: 200px;
    height: 100vh;
    align-items: center;
    background-color: $dark;
    z-index: 5;
    transform: translateY(-100%);
    opacity: 0;

    &.menu__list--active {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

.menu__list-link {
  font-weight: 700;
}
