.header {
  background-color: $dark;
}

.header-main {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 5;
  background-color: transparent;
}

.header__logo {
  @include media(medium) {
    position: relative;
    z-index: 10;
  }
}

.menu__btn {
  width: 30px;
  height: 20px;
  padding: 0;
  border: none;
  background-color: transparent;
  display: none;

  @include media(medium) {
    position: relative;
    display: flex;
    z-index: 10;
  }

  span {
    height: 2px;
    width: 100%;
    background-color: $primary;
  }
}

.menu__list {
  gap: 35px;
  transition: transform 0.3s ease, opacity 0.3s ease;

  @include media(medium) {
    position: absolute;
    flex-direction: column;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding-top: 200px;
    height: 100vh;
    align-items: center;
    background-color: $dark;
    z-index: 5;
    transform: translateY(-100%);
    opacity: 0;

    &.menu__list--active {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

.menu__list-link {
  font-weight: 700;
}
